.subheadline {
    display: inline-block;
    margin-bottom: 17px;

    span {
        color: #4a4a4a;
        font-family: "Open Sans";
        font-size: 30px;
        font-weight: 600;
        line-height: 41px;
    }
}